<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Confirmation Page</title>
    <style>
        .success {
          color: green;
        }
        .failure {
          color: red;
        }
    </style>
</head>
<body>
    <div>
        Set your password:
    </div>

    <div th:if="${invalidToken}" class="failure" role="alert" th:text=${invalidToken}></div>

    <form th:if="!${invalidToken}" class="m-t" id="passwordForm" role="form" action="#" th:object="${setPassword}" th:action="@{/confirm}" method="post">
        <input type="hidden" name="token" th:value=${confirmationToken} />
        <div>
            <input name="password" type="password" id="password" placeholder="Password" class="form-control" required />
        </div>
    </form>
</body>
</html>