<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>
<body>
    <div>
        Registration
    </div>
    <form action="#" th:action="@{/register}" th:object="${user}" method="post">
        <div th:if="${confirmationMsg}" class="success" role="alert" th:text=${confirmationMsg}></div>
        <div th:if="${alreadyRegisteredMsg}" class="failure" role="alert" th:text=${alreadyRegisteredMsg}></div>

        <div>
            <input type="email" th:field="*{email}" placeholder="Email Address" class="form-control" data-error="This email is invalid" required />
        </div>

        <button type="submit">Register</button>
    </form>
</body>
</html>